.RouteBuilder {
  min-height: 100vh;

  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 300px auto;
  grid-template-rows: min-content auto min-content;
  gap: 0px 0px;
  grid-template-areas:
    "Logo Map"
    "List Map"
    "Download Map";
}

.KomootLogo {
  grid-area: Logo;

  margin: 20px;

  display: inline-block;
  height: 32px;
  margin-right: 0.75rem;
  position: relative;
  width: 108px;
  z-index: 100;
  background-color: transparent;
  background-image: url("./logo.svg");
  -webkit-background-position: left center;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 108px 32px;
  text-indent: -9999px;
  vertical-align: middle;
}

.RouteBuilderList {
  grid-area: List;
  margin: 0 20px;
}

.RouteBuilderListTitle {
  font-size: large;
  padding: 0 0 10px;
  border-bottom: 2px solid #747474;
}

.RouteBuilderDownload {
  grid-area: Download;
  padding: 20px;
}

.RouteBuilderDownloadButton {
  display: block;
  width: 100%;
  margin: 20px 0 0;
  font-weight: bold;
  border-radius: 3px;
  background-color: #c1e453;
  border: none;
  padding: 10px;
}

.RouteBuilderMap {
  grid-area: Map;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .RouteBuilder {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content min-content auto min-content;
    gap: 0px;
    grid-template-areas:
      "Logo"
      "List"
      "Map"
      "Download";
  }

  .RouteBuilderList {
    display: none;
  }

  .RouteBuilderMap {
    min-height: 100px;
  }

  .RouteBuilderDownload {
    padding: 10px;
  }
}
